apiVersion: 1

datasources:
- name: {{ prometheus_datasource_name | default ('Prometheus') }}
  type: prometheus
  access: proxy
  orgId: 1
  url: http://{{ monitoring_node_ip}}:9090
  isDefault: false
  version: 1
  editable: false
- name: {{ thanos_datasource_name | default ('Thanos') }}
  type: prometheus
  access: proxy
  orgId: 1
  url: http://{{ monitoring_node_ip}}:9091
  isDefault: true
  version: 1
  editable: false
