# container-prometheus.service

[Unit]
Description=prometheus
Documentation=https://prometheus.io
Wants=network-online.target
#After=network-online.target
After=mon-pod.service
Requires=mon-pod.service

RequiresMountsFor=%t/containers

[Service]
Environment=MON_POD={{ monitoring_pod }}
Environment=PODMAN_SYSTEMD_UNIT=%n
Environment=PROM_DIR={{ prometheus_dir }}
Environment=PROM_CONFIG_DIR={{ prometheus_config_dir }}
Environment=PROM_CONFIG_FILE={{ prometheus_config_dir }}
Environment=PROM_TLS_DIR={{ prometheus_tls_dir }}
Environment=PROM_RELEASE={{ prometheus_release }}
Environment=PROM_UID={{ prometheus_uid }}
Environment=PROM_UID={{ prometheus_uid }}
Environment=PROM_CA_FILE={{ prometheus_ca_file }}
Environment=PROM_CERT_FILE={{ prometheus_cert_file }}
Environment=PROM_KEY_FILE={{ prometheus_key_file }}
Environment=PROM_STORAGE_BLOCK_DURATION={{ prometheus_storage_block_duration }}

Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run --cidfile=%t/%n.ctr-id --cgroups=no-conmon  --rm --sdnotify=conmon --replace  --user ${PROM_UID} -d -v ${PROM_DIR}:/prometheus -v ${PROM_CONFIG_DIR}:${PROM_CONFIG_DIR} -v ${PROM_TLS_DIR}:${PROM_TLS_DIR} --name prometheus --pod ${MON_POD} quay.io/prometheus/prometheus:${PROM_RELEASE} --storage.tsdb.min-block-duration=${PROM_STORAGE_BLOCK_DURATION} --storage.tsdb.max-block-duration=${PROM_STORAGE_BLOCK_DURATION} --config.file ${PROM_CONFIG_DIR}/prometheus.yml --storage.tsdb.path /prometheus

ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
