# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          {% if monitoring_alertmanager_enabled %} 
            - {{ monitoring_node_ip }}:9093
          {% endif %}

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  {% for rule in prometheus_rules %}
   - "rule"
  {% endfor %}

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  {{ prometheus_scrape_configs | to_nice_yaml(indent=2,sort_keys=False) | indent(2,False) }}
