# container-prometheus.service

[Unit]
Description=Thanos store
Documentation=https://thanos.io
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=MON_POD={{ monitoring_pod }}
Environment=PODMAN_SYSTEMD_UNIT=%n
Environment=THAN_DATA_DIR={{ thanos_data_dir }}
Environment=THAN_CONFIG_DIR={{ thanos_config_dir }}
Environment=THAN_RELEASE={{ thanos_release }}
Environment=PROM_UID={{ prometheus_uid }}
Environment=PROM_UID={{ prometheus_uid }}
Environment=THAN_OBJ_FILE={{ thanos_objstore_file }}

Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run --cidfile=%t/%n.ctr-id --cgroups=no-conmon  --rm --sdnotify=conmon --replace  --user ${PROM_UID} -d -p 10901:10901 -p 10902:10902 -v ${THAN_CONFIG_DIR}:${THAN_CONFIG_DIR} -v ${THAN_DATA_DIR}:${THAN_DATA_DIR} --name thanos-store  quay.io/thanos/thanos:${THAN_RELEASE} store --data-dir=${THAN_DATA_DIR} --objstore.config-file=${THAN_OBJ_FILE} --http-address=0.0.0.0:10902 --grpc-address=0.0.0.0:10901

ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
