name: Release on pull request merge
"on":
  push:
    branches:
      - master
      - main
      - next
      - beta
      - alpha

permissions:
  contents: read  # for checkout
jobs:
  release:
    outputs:
      version: ${{ steps.export_version.outputs.version }}
    if: github.event_name == 'push'
    permissions:
      contents: write  # to be able to publish a GitHub release
      issues: write  # to be able to comment on released issues
      pull-requests: write  # to be able to comment on released pull requests
      id-token: write  # to enable use of OIDC for npm provenance
    name: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238  # v6.2.0
        with:
          node-version: lts/*
      - run: npm install --no-package-lock
      - run: npm install --global corepack@latest
      - run: corepack npm audit signatures
      # pinned version updated automatically by Renovate.
      # details at https://semantic-release.gitbook.io/semantic-release/usage/installation#global-installation
      - run: |
          npx -y semantic-release@25.0.1
          VERSION=$(cat .VERSION)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Export version
        id: export_version
        shell: bash
        run: |
          if [ -f .VERSION ]; then
            VERSION="$(cat .VERSION)"
          fi
          if [ -n "${VERSION:-}" ]; then
            echo "Resolved new version set by semantic-release: $VERSION"
            VERSION="${VERSION#v}"
            echo "version=$VERSION" >> "$GITHUB_OUTPUT"
          else
            echo "No version was published by semantic-release."
            echo "version=" >> "$GITHUB_OUTPUT"
          fi
